<app-default-login-layout
    title="Acessar sistema"
    primaryBtnText="Acessar"
    secondaryBtnText="Esqueci Senha"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="E-mail"
      placeholder="fulano@gmail.com"
    >
      <img src="/assets/svg/email-icon.svg"/>
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Sua senha"
      placeholder="sua senha"
    >
      <img src="/assets/svg/password-icon.svg"/>
    </app-primary-input>
  </form>
</app-default-login-layout>
